body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-bottom: env(safe-area-inset-bottom);
    line-height: 1.3em;
    scroll-behavior: smooth;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}