@import 'variables';

// Breakpoints
@mixin screen-under-xl {
    @media (max-width: #{$breakpoint-extra-large - 1px}) {
      @content;
    }
}
  
@mixin screen-under-l {
    @media (max-width: #{$breakpoint-large - 1px}) {
      @content;
    }
}
  
@mixin screen-under-m {
    @media (max-width: #{$breakpoint-medium - 1px}) {
      @content;
    }
}
  
@mixin screen-under-s {
    @media (max-width: #{$breakpoint-small - 1px}) {
      @content;
    }
}

@mixin wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $breakpoint-small) {
    width: 100%;
    max-width: 100%;
    padding: 0 32px;
  }

  @media (max-width: $breakpoint-small) {
    width: 100%;
    max-width: 100%;
    padding: 0 32px;
  }

  @media (min-width: $breakpoint-medium) {
    width: 100%;
    max-width: 100%;
    padding: 0 32px;
  }

  @media (min-width: $breakpoint-large) {
    max-width: 960px;
    width: 80%;
  }

  @media (min-width: $breakpoint-extra-large) {
    max-width: 900px;
    width: 80%;
  }
}