// Variables
$color-primary: #fff;
$color-secondary: #000;

// Fonts
$font-primary: '';
$font-secondary: '';

// Breakpoints
$breakpoint-extra-large: 1200px;
$breakpoint-large: 992px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;