// Variables
$color-primary: #000;
$color-secondary: rgb(35, 35, 35);

// Fonts
$font-primary: '';

// Breakpoints
$breakpoint-extra-large: 1200px;
$breakpoint-large: 992px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;